
{% extends "base.html"  %}
{% load staticfiles %}
{% block content %}
 <!-- Start Slider Area -->
 <div id="home" class="slider-area">
  <div class="bend niceties preview-2">
    <div id="ensign-nivoslider" class="slides">
      <img src="{% static 'img/crop1.jpg' %}" alt="" title="#slider-direction-1" />
      
        <img src="{% static 'img/crop2.jpg' %}" alt="" title="#slider-direction-2" />
      <img src="{% static 'img/crop3.jpg' %}" alt="" title="#slider-direction-3" />
    </div>

    <!-- direction 1 -->
    <div id="slider-direction-1" class="slider-direction slider-one">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content">
              <!-- layer 1 -->
         
   <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
   
           <h2 class="title1">An Initiative for the farmers</h2>
             
</div>

             <!-- layer 2 -->
          
  <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">

               <h1 class="title2">We're In The Business Of Helping You </h1>
   
         </div>
           
 <!-- layer 3 -->
            
<div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">

              <a class="ready-btn right-btn page-scroll" href="login">Login</a>
                <a class="ready-btn page-scroll" href="signup">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- direction 2 -->
    <div id="slider-direction-2" class="slider-direction slider-two">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <h2 class="title1">The Best Online palteform for the farmers </h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h1 class="title2">We're In The Business of helping you</h1>
              </div>

            <!-- layer 3 -->
 
           <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
            
  <a class="ready-btn right-btn page-scroll" href="login">Login</a>
  
            <a class="ready-btn page-scroll" href="signup">Sign up</a>
       
        </div>
           
       </div>
   
     </div>
      
   </div>
      
 </div>
   
</div>

   
<!-- direction 3 -->
 
 <div id="slider-direction-3" class="slider-direction slider-two">

    <div class="container">
        <div class="row">
     
   <div class="col-md-12 col-sm-12 col-xs-12">
 
         <div class="slider-content">
           
 <!-- layer 1 -->
           
 <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
    
          <h2 class="title1">The Best Online plateform for the farmers  </h2>
    
        </div>
            
<!-- layer 2 -->
          
  <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
       
       <h1 class="title2">We are here to helping you </h1>
   
         </div>
  
          <!-- layer 3 -->
    
        <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
     
         <a class="ready-btn right-btn page-scroll" href="login">Login</a>
     
         <a class="ready-btn page-scroll" href="signup">Signup</a>
         
   </div>
        
  </div>
          
</div>
        
</div>
    
</div>
 
 </div>
 
</div>

</div>

<!-- End Slider Area -->


<!-- Start About area -->

<div id="about" class="about-area area-padding">

<div class="container">
  
<div class="row">
    
<div class="col-md-12 col-sm-12 col-xs-12">
     
 <div class="section-headline text-center">
        
<h2>About E-Mandi</h2>
 
     </div>
     
</div>
 
 </div>
  
<div class="row">
   
 <!-- single-well start-->
 
   <div class="col-md-6 col-sm-6 col-xs-12">

       <div class="well-left">
         
<div class="single-well">

          <a href="#">
<img src="{% static 'img/logo21.jpg' %}" alt=" error">
</a>
   
 </div>
   
   </div>
   
 </div>
  
  <!-- single-well end-->

      <div class="col-md-6 col-sm-6 col-xs-12">
 
     <div class="well-middle">
        
<div class="single-well">
          
<a href="signup">
 <h4 class="sec-head">Register your Crops</h4>
 </a>
            <ul>

                           <li>
  <i class="fa fa-check"></i> Direct contact to customers </li>
                           <li>
  <i class="fa fa-check"></i> Fresh Crops </li>
             
                             <li>
  <i class="fa fa-check"></i> Registered Members
 </li>

              <li>
 <i class="fa fa-check"></i> Reasonable Prices.
  </li>
 
 
            
<li>
 <i class="fa fa-check"></i> Only Quality Crops/Vegetables/Fruits
              </li>
          
</ul>
         
</div>
  
    </div>
   
 </div>
     
<!-- End col-->
   
</div>

 </div>

</div>

<!-- End About area -->


<!-- Faq area start -->
<div class="faq-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Faq Question</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="faq-details">
          <div class="panel-group" id="accordion">
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                    <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                              <span class="acc-icons"></span>How to Register?
                    </a>
                  </h4>
              </div>
              <div id="check1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                    Simple click on signup button a form will open you have to fill all details
                    and then add crops.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                              <span class="acc-icons"></span>How to Contact Farmers?
                    </a>
                  </h4>
              </div>
              <div id="check2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Just click on the things you want to purchase and you will seen here the
                    contact details of the owner of crop.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            
           
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="tab-menu">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#p-view-1" role="tab" data-toggle="tab">Project</a>
            </li>
            <li>
              <a href="#p-view-2" role="tab" data-toggle="tab">Planning</a>
            </li>
            <li>
              <a href="#p-view-3" role="tab" data-toggle="tab">Success</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="p-view-1">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Project</h4>
                <p>
                  >Main objective of this project is to help the farmers as an initiative from the team of four members so that they will be able to sell their crops at reasonable cost and with multiple choices of their crops . 
                </p>
                <p>
                  this will also help to get vegetables,fruits at any place of the country at reasonable cost
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-2">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Planning</h4>
                <p>
                  We are Planning to introduce transport Facility for the easily transportation of crops.
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-3">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Success</h4>
                <p>
                  This project will achieve success in their motives.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Row -->
  </div>
</div>
<!-- End Faq Area -->
<!-- Start contact Area -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Contact us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-mobile"></i>
              <p>
                Call: +91 79068065<br>
                <span>24*7</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-envelope-o"></i>
              <p>
                Email: emandi--@gmail.com<br>
                <span>Web: www.%emandi%.com</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-map-marker"></i>
              <p>
                Location: Ghaziabad<br>
                <span> INDIA</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <!-- Start Google Map -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Start Map -->
          <!-- Uncomment below if you wan to use dynamic maps -->
          <!--<div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>-->
              <a class="skiplink" href="#map">Go to map</a>
  <div id="map" class="map" tabindex="0"></div>
  <button id="zoom-out">Zoom out</button>
  <button id="zoom-in">Zoom in</button>
  <script>
    var map = new ol.Map({
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      target: 'map',
      controls: ol.control.defaults({
        attributionOptions: {
          collapsible: false
        }
      }),
      view: new ol.View({
        center: [0, 0],
        zoom: 2
      })
    });

    document.getElementById('zoom-out').onclick = function() {
      var view = map.getView();
      var zoom = view.getZoom();
      view.setZoom(zoom - 1);
    };

    document.getElementById('zoom-in').onclick = function() {
      var view = map.getView();
      var zoom = view.getZoom();
      view.setZoom(zoom + 1);
    };
  </script>
          
          <!-- End Map -->


        <!-- End Google Map -->
      </div>

        <!-- Start  contact -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form contact-form">
            <form  method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ feedback_form.cust_name }}
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{ feedback_form.cust_email }}
                <div class="validation"></div>
              </div>
              <div class="form-group" >
                {{ feedback_form.subject }}
                <div class="validation"></div>
              </div>
              <div class="form-group">
                {{ feedback_form.cust_msg }}
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
        <!-- End Left contact -->
      </div>
    </div>
  </div>
</div>

<!-- End Contact Area -->

{% endblock content %}