{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Our Team members{% endblock title %}
{% block acti %}{% endblock acti %}
{% block act %}
class="active"
{% endblock act %}
{% block content %}
<div style="width:40%;height:90%;margin:10%;margin-left:30%;">
<div id="home" class="slider-area" >
  <div class="bend niceties preview-2">
    <div id="ensign-nivoslider" class="slides" >
      <img src="{% static 'img/irfan1.jpg' %}" alt="" title="#slider-direction-1" />
      <img src="{% static 'img/crop2.jpg' %}" alt="" title="#slider-direction-2" />
      <img src="{% static 'img/anurag.jpg' %}" alt="" title="#slider-direction-3" />
      <img src="{% static 'img/deepak.jpg' %}"  style="width:70%;height:50%;" alt="" title="#slider-direction-4" />
    </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction slider-one">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
             
       <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
       
               <h2 class="title1" style="margin-right: 65%;margin-top: 27%;">Mohd Irfan<br>(B.Tech 3rd Year)</h2>
                          
    </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
    
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction slider-one">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
             
       <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
       
               <h2 class="title1" style="margin-right: 65%;margin-top: 27%;">Pankaj Verma<br>(B.Tech 3rd Year)</h2>
                          
    </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
  
        <!-- direction 4 -->
  
        <div id="slider-direction-3" class="slider-direction slider-one">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
             
       <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
       
               <h2 class="title1" style="margin-right: 65%;margin-top: 27%;">Anurag Mishra<br>(B.Tech 3rd Year)</h2>
                          
    </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- direction 3 -->
        <div id="slider-direction-4" class="slider-direction slider-one">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
             
       <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
       
               <h2 class="title1" style="margin-right: 65%;margin-top: 27%;">Deepak yadav<br>(B.Tech 3rd Year)</h2>
                          
    </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
    </div>

   </div>
</div>

</div>
 
{% endblock content %}
